<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #task-title {
            text-align: center;
        }

        #request {
            margin-top: 50px;
            padding: 30px;
            width: 600px;
            background-color: white;
        }

        body {
            background-color: rgb(245, 245, 245);
        }
    </style>

    <title>Register new user</title>
</head>

<body>
    <div class="container" id="request">
        <div class="container" id="task-title">
            <h2>New user</h2>
            <hr>
        </div>
        <div>
            <div class="container">
                <!-- success message-->
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You've successfully sign up!
                    </div>
                </div>
                <form th:action="@{/signup}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label"for="fullName">Full name</label>
                        <input type="text" class="form-control" id="fullName" th:field="*{fullName}" placeholder="Enter your full name" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" th:field="*{username}" placeholder="Enter email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" th:field="*{password}" placeholder="Password" required autofocus>
                    </div>
                    <div class="mb-3"> <button type="submit" class="btn btn-primary w-100">Sign up</button>
                    </div>
                </form>
                <div class="mb-3">
                    <a href="/" th:href="@{/login}"><button class="btn btn-light w-100">Cancel</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/signin.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>