<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/signin.css">
    <style>
        #task-title {
            text-align: center;
        }

        #request {
            margin-top: 50px;
            padding: 30px;
            width: 600px;
            background-color: white;
        }

        body {
            background-color: rgb(245, 245, 245);
        }
    </style>

    <title>Sign in</title>
</head>

<body>
    <div class="container" id="request">
        <div class="container" id="task-title">
            <h2>Sign in</h2>
            <hr>
        </div>
        <div>
            <div class="container">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <!--error message-->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>
                        <!--signout message-->
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been signed out.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Email address</label>
                            <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" autofocus>
                        </div>
                        <div class="mb-3"><button type="submit" class="btn btn-primary w-100">Sign in</button></div>
                    </fieldset>
                </form>
                <div style="text-align: center;">Not a member? <a href="/" th:href="@{/signup}" style="color: blue;">Sign Up</a></div>
            </div>
        </div>
    </div>

    <script src="/js/signin.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>